/* src/components/Links.css */
.links {
    width: 100%;
    padding: 20px;
    background: #444;
    color: white;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .links h3 {
    margin-top: 0;
  }
  
  .links p {
    margin: 5px 0;
  }
  
  .links a {
    color: white;
    text-decoration: none;
  }
  