/* src/components/Contact.css */
.contact {
    width: 100%;
    padding: 20px;
    background: #444;
    color: white;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .contact h3 {
    margin-top: 0;
  }
  
  .contact p {
    margin: 5px 0;
  }
  