/* src/components/Languages.css */
.languages {
  width: 100%;
  padding: 20px;
  background: #000;
  color: white;
  margin-bottom: 20px;
  text-align: left;
}

.languages h3 {
  margin-top: 0;
}

.languages p {
  display: flex;
  justify-content: space-between;
}

.languages span {
  background: #777;
  padding: 0 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease; 
}

.languages span:hover {
  background-color: rgb(250, 241, 241);
  color: black; 
}